:root {
  --tab-text: var(--theme-colors-sidebar_text);
  --favicon-size: 16px;
}

#tabbar-container {
  color: var(--theme-colors-sidebar_text);
  background-color: var(--theme-colors-sidebar);
}

#tabbar {
  bottom: 50px !important;
}

.tabs {
  padding-top: 5px;
  padding-left: 5px;
}

#tabbar tab-item:not(.pinned):first-of-type {
  border-top: 1px solid transparent;
}

tab-item {
  display: flex;
  font-size: .9em;
}

tab-item tab-item-substance {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  background-color: var(--theme-colors-toolbar);
  padding: 3px;
}

tab-item:hover tab-item-substance {
  border-color: var(--theme-colors-tab_line) !important;
}

tab-item.active tab-item-substance {
  background-color: var(--theme-colors-sidebar_highlight);
}

tab-item:not(:hover) tab-closebox {
  display: none;
}

tab-item tab-twisty {
  opacity: 0 !important;
  position: absolute;
  z-index: 10000;
  left: .45em;
}

tab-item:hover tab-twisty {
   opacity: 1 !important;
}

tab-item:not(.collapsed-completely) {
  margin-bottom: 2px;
}

tab-item .favicon {
  margin: .25em;
}

tab-item .label {
  margin-left: .25em;
  padding: 0 0 .25em 0;
}

tab-item .highlighter {
  display: none;
}

tab-item .contextual-identity-marker {
  height: 12px;
  width: 12px !important;
  right: -6px !important;
  top: -6px !important;
  transform: rotate(45deg);
}

tab-item[data-child-ids]:hover .favicon {
  opacity: 0 !important;
}

tab-item.unread .label-content {
  font-weight: 600 !important;
}

/* New tab button */

.newtab-button-box {
  position: fixed;
  right: 15px;
  left: 15px;
  bottom: 15px;
}

.newtab-button {
  border-radius: 25px;
  padding-right: 0 !important;
  background-color: var(--theme-colors-toolbar);
  transition: all 75ms ease-in-out !important;
}

.newtab-button:hover {
  background-color: var(--theme-colors-sidebar_highlight);
}

.newtab-action-selector-anchor,
.contextual-identities-selector-anchor {
  width: 20px;
}

.after-tabs button {
  border: none;
}

.newtab-button::after {
  content: "+";
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  background: none !important;
  mask: none !important;
}